<mat-card>
  <mat-card-title>{{ data.name }}</mat-card-title>
  <mat-card-content>
    <p>
      Используя pipe можно трансформимровать иходную информацию в нужный формат.
      Можно пользвоваться встроенными функциями:
    </p>
    <ul>
      <li>DatePipe - форматирование даты</li>
      <li>UpperCasePipe - перевод текста в верхний регистр</li>
      <li>LowerCsePipe - перевод текста в нижний регистр</li>
      <li>
        Currencypipe - преобразование число в строковую волюту локального
        форматирование
      </li>
      <li>
        DecimalPipe - преобразование числа в строку десятичного формата в
        соответствии с локальным форматом
      </li>
      <li>
        PercantPipe - преобразование числа в строку с процентами
        отформатированную в соответствии с локальными снастройками
      </li>
    </ul>
    <h2>Использование Pipe в шаблоне.</h2>
    <p>Что бы применить pipe используется "|".</p>
    <div>
      <p>Сегодняшняя дата в локальном формате = {{ toDay | date }}</p>
      <p>Сегодняшняя дата без форматирования = {{ toDay }}</p>
    </div>
    <h2>Трансформимроваие данныйх с параметром и цепочками pipe'ов.</h2>
    <p>
      так же в pipe выражение можно передавать 1 или несколько параметров через
      разделитель ":".
    </p>
    <div>
      <p>Дата: {{ toDay | date: format }}</p>
      <button color="primary" mat-button (click)="onClickToggle()">
        Изменить формат
      </button>
    </div>
    <h2>  Применение 2ух форматов</h2>
    <div>
      <p>
        Дата в фомате и в верхнем регистре:
        {{ toDay | date: "longDate" | uppercase }}
      </p>
      <button color="primary" mat-button (click)="onClickToggle()">
        Изменить формат
      </button>
    </div>
  </mat-card-content>
  <tr></tr>
  <mat-card>
    <mat-card-title
      >Создание Pipe'ов с собственной трансформацией.</mat-card-title
    >
    <mat-card-content>
      <p>
        если нехватает встроенных трансформаций Pipe можно создать свой
        использую команду cli ng g p
      </p>
      <h2>Склонение слов через собственный Pipe компонент</h2>

      <div (keyup.enter)="(0)">
        <label for="word1">Слово для 1го элемента</label>
        <input #word1 id="word1" type="text" />
        <tr></tr>
        <label for="word2">Слово для 2ух элементов</label>
        <input #word2 id="word2" type="text" />
        <tr></tr>
        <label for="word5">Слово для 5-и элементов</label>
        <input #word5 id="word5" type="text" />
        <tr></tr>
        <label for="number">Количество</label>
        <input #number id="number" type="number" />

        <p>
          Вывод
          {{
            number.value
              | declinationWord: [word1.value, word2.value, word5.value]
          }}
        </p>
        <p></p>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-title>
      обнаружение изменений с привязкой данный в Pipe
    </mat-card-title>
    <mat-card-content>
      <p>
        Можно использовать привязку данных с Pipe, что бы отображать значения в
        ответ на пользовательские действия.Если изменяемые данные примитивны то
        ангуляр исполнит Pipe, как толко заметит изменение.
      </p>
      <h2>Power Boost Calculator</h2>
      <label for="power-input">Normal power: {{ power }}</label>

      <input id="power-input" type="text" [(ngModel)]="power" />
      <tr></tr>
      <label for="boost-input">Boost factor: </label>
      <input id="boost-input" type="text" [(ngModel)]="factor" />
      <tr></tr>
      <p>Super Hero Power: {{ power | exponentialStrength: factor }}</p>
      <p>
        Если мы изменяем одно из значений то ангуляр быстро отрабатывает и
        пересчитывает результат,но если менять что то в объекте в массиве или
        другом сложном элменте,то надо понимать как работают данные изменения.
      </p>
      <h2>Как работает обнаружение изменений</h2>
      <p>
        Ангуляр ищет изменнения привязанных данных после каждого срабатывания
        дом событий: keyup, mousemove и т.п.
      </p>
      <h2>Чистая и гряззный Pipe =)</h2>
      <p>
        при изменнеии более сложных элементов таких как массив, функция Pipe не
        заметит изменени т.к. ссылка на массив останеться такойже. Что бы
        ангуляр обновил информацию на дисплее необходимо изменить ссылку на
        массив, либо воспользоваться "грязным" pipe и выставить свойство pure в
        значение false.
      </p>
      <app-pure-pipe></app-pure-pipe>
      <hr />
      <app-dirty-pipe></app-dirty-pipe>
    </mat-card-content>
  </mat-card>
</mat-card>
<mat-card>
  <mat-card-title>Распаковка данных из Observable объекта</mat-card-title>
  <mat-card-content>
    <p>
      observable(наблюдатель) позволяет передавать сообщения между частями
      вашего приложения. observable рекомендуется использовать для обработки
      событий, асинхронных вычислений и обработки множества значений. observable
      может доставлять одно или мн-во значений любых типов, синхронно/асинхронно
      по расписанию. Можно использовать встроенный asyncPipe чтобы на вход
      передать наблюдателя и подписаться на него и извлекать данные и не
      забывать отписываться при уничтожении наблюдателя.
    </p>
    <app-hero-async-message></app-hero-async-message>
    <h1>Кэширование HTTP запроса</h1>
    <p>
      для общения с бэком используются HTTP запросы. И для получения данных
      используется HttpClient.get(), которая использует observables. Асинхронный
      метод отправляет запрос и получает observabl объект который возвращает
      ответ с сервера. Можно использовать impure pipe, что бы подписать на
      observabl объект http запроса. impure pipe вызывается всякий раз когда
      выполняется обнаружение изменнеий для компонента, что может проиходить
      каждые несколько милисекунд.Чтобы избежать проблем с производительностью
      вызывайте сервер только когда url запроса изменяется и используйте pipe,
      чтобы поймать ответ.

    </p>
    <app-usr-list></app-usr-list>
    <h1>Pipe и приоритет</h1>
    <p>pipe оператор имеет более высокий приоритет чем тернарный оператор(?:) если необходимо использовать тернарное выражение, то его можно обернуть в скобки</p>
    {{ (true ? 'true' : 'false') | uppercase }}
  </mat-card-content>
</mat-card>
