<mat-card>
  <mat-card-title>{{ data.name }}</mat-card-title>
  <mat-card-content>
    <p>
      Изменение внешнего вида или поведения дом элементов и ангулар компонентов
      при помощи атрибутной директивы
    </p>
    <h1>Построение атрибутной директивы</h1>
    <p>
      Эта секция про создание атрибутной директивы которая будет выделять
      название host элемента
    </p>
    <ul>
      <li>
        Создание директивы cli ng generate directive 'name' (ng g d 'name'). В
        декораторе есть свойство указывающщее на CSS селектор директивы.
      </li>
      <li>
        Импортируем ElementRef из core. ElementRef даёт доступ к DOM элементу
        директивы через свойство nativElement.
      </li>
      <li>
        Добавляем ELementRef в конструтор чтобы ввести ссылку на host dom
        элемент. Элемент к которому вы применили селектор директивы.
      </li>
      <li>Добавляем необходимую логику в конструкторе директивы.</li>
    </ul>
    <p class="exemple">Пример атрибутной директивы:</p>
    <p appHighlight>Выделяемый текст при помощи директивы</p>
    <hr />
    <p>
      Angular создает экземпляр класса HighlightDirective и вставляет ссылку на
      элемент p в конструктор директивы, который устанавливает желтый стиль фона
      элемента p.
    </p>
    <h1>Управление пользовательскими событиями</h1>
    <p>Дополним директиву прослушивающими наведение мыши на элемент.</p>
    <ul>
      <li>Импортируем HostListner из core</li>
      <li>Добавляем 2 события наведения и отведения мыши на/с элемента</li>
    </ul>
    <p>Подписываясб на элемент DOM будет обрабатывать данные события.</p>
    <h1>Передача значений в атрибутные директивы</h1>
    Передаётся значение через декоратор @Input в директиве как при обычной
    привязке через [].
    <p class="exemple">Пример с передачей параметра в директиву</p>
    <p [appHighlight]="'red'">
      Выделяемый текст при помощи атрибутной директивы
    </p>
    <hr />
    <p class="exemple">
      Пример атрибутная директива выделения+панель управления
    </p>
    <p>
      <button (click)="sColor = 'red'" color="primary" mat-raised-button>
        Red
      </button>
      <button (click)="sColor = 'blue'" color="primary" mat-raised-button>
        Blue
      </button>
      <button (click)="sColor = 'yellow'" color="primary" mat-raised-button>
        Yellow
      </button>
    </p>
    <p [appHighlight]="sColor">
      Выделяемый текст при помощи атрибутной директивы + управление
    </p>

    <p class="exemple">
      Пример. Привязка 2ух передаваемых параметров в директиву выделения
    </p>
    <p [appHighlight]="sColor" defaultColor="violet">
      Выделяемый текст при помощи атрибутной директивы + управление
    </p>
    <hr />
    <h1>Деактивация Angular обработки NgNonBindable</h1>
    <p>
      NgNonBindable - деактивирует антерполяцию, директивы и привязки в
      шаблонах. применяя NgNonBindable на элемент так же применяется на дочернии
      элементы.Однако NgNonBindable позволяет работать директивам.
    </p>
    <p class="exemple">Пример. NgNonBindable</p>
    <p ngNonBindable >NgNonBindable {{ 1 + 1 }}</p>
    <p  ngNonBindable [appHighlight]="sColor">NgNonBindable {{1+1}}</p>
    <hr>
  </mat-card-content>
</mat-card>
