<mat-card>
  <mat-card-title>{{ data.name }}</mat-card-title>
  <mat-card-content>
    <p>
      Шаблонные операторы - это методы или свойтва HTML-элементов, которые можно
      использовать для ответа на пользовательские события. Как и в
      интерполяции шаблонные операторы поддерживают язык js, но есть небольшие
      отличия в анализаторе,а именно это присвоение(=) и цепочки операций через ";"
    </p>
    <p>
      Операторы имеют контекст и могут ссылать только на элементы контекста.
    </p>
    <div>
      <p class="exemple">Передача параметра из массива в меотд (click)</p>
      <button color="primary" mat-raised-button *ngFor="let name of names" (click)="onShowName(name)">
        Покажи {{ name }}
      </button>
      <hr>
      <p class="exemple">Передача системног опараметра $event в метод (click)</p>
      <button color="primary" mat-raised-button *ngFor="let name of names" (click)="onEvent($event)">
        Покажи {{ name }}
      </button>
      <hr>
      <p class="exemple">Передача именнованного элемента в метод (click)</p>
      <p #ParagrphElement>Ссылка на элемент шаблона</p>
      <button color="primary" mat-raised-button (click)="onShowElement(ParagrphElement)">
        Ссылка на элемент шаблона 
      </button>
    </div>
    <hr>
    <h1>Best practices</h1>
    <ul>
        <li>Локаничность - используйте вызовы методов или базовые назначения свойств</li>
        <li>Работайте в пределах контекста</li>
    </ul>
  </mat-card-content>
</mat-card>
