<mat-card class="header">
  <h3>Шаблоны</h3>
  <nav mat-tab-nav-bar [tabPanel]="tabPanel">
    <a
      mat-tab-link
      *ngFor="let oContent of aContent | sortDescription: 'template'"
      (click)="onClickTheme(oContent.count)"
      [active]="activeContent == oContent">
      {{ oContent.data.name }}
    </a>
  </nav>

  <h3>Директивы</h3>
  <nav mat-tab-nav-bar [tabPanel]="tabPanel">
    <a
      mat-tab-link
      *ngFor="let oContent of aContent | sortDescription: 'directive'"
      (click)="onClickTheme(oContent.count)"
      [active]="activeContent == oContent">
      {{ oContent.data.name }}
    </a>
  </nav>
  <h3>Сервисы</h3>
  <nav mat-tab-nav-bar [tabPanel]="tabPanel">
    <a
      mat-tab-link
      *ngFor="let oContent of aContent | sortDescription: 'injection'"
      (click)="onClickTheme(oContent.count)"
      [active]="activeContent == oContent">
      {{ oContent.data.name }}
    </a>
  </nav>
  <h3>Dev. Guid</h3>
  <nav mat-tab-nav-bar [tabPanel]="tabPanel">
    <a
      mat-tab-link
      *ngFor="let oContent of aContent | sortDescription: 'devGuid'"
      (click)="onClickTheme(oContent.count)"
      [active]="activeContent == oContent">
      {{ oContent.data.name }}
    </a>
  </nav>
</mat-card>

<mat-tab-nav-panel #tabPanel>
  <ng-template Host></ng-template>
</mat-tab-nav-panel>

