<mat-card>
  <mat-card-title>{{ data.name }}</mat-card-title>
  <mat-card-content>
    <p>
      Привязка свойств позволяет устанавливать сво-ва HTML элементов или
      директив. использую привязку свойств можно делать такие вещи как:
    </p>
    <ul>
      <li>toggle функционал</li>
      <li>задавать пути к ресурсам</li>
      <li>и обменивать значениями между компонентами</li>
    </ul>
    <h1>Поток данных</h1>
    <p>
      Привязка свойств перемещает значение в одном направлении, из свойства
      компонента в свойства элемента.
    </p>
    <h1>Привязка свойств</h1>
    <p>
      Привязываемое свойство для задания значения заключается в квадратные
      скобки.Например можно привязать путь к картинке.
    </p>
    <img [src]="urlImg" alt="" />
    <p>
      Символ квадратных скобок [] позволяет angular оценивать правую часть как
      динамическое выражение. Без скобок правая часть обрабатывается как
      строковый литерал и устанавливает свойство в статическое значение.
    </p>
    <h1>Установка свойств элемнта в значение свойства компонента</h1>
    <p>
      Интерполяция и приаязка свойств работает только на свойства а не на
      атрибуты!
    </p>

    <h1>копки переключения функциональности</h1>
    <button color="primary" [disabled]="isDisabled" mat-raised-button>
      disabled
    </button>
    <h1>установка свойств директив</h1>
    <p [ngClass]="classes">
      [ngClass] binding to the classes property making this blue
    </p>
    <h1>Привязка значений между компонентами</h1>
    <app-item-detail [childValue]="parentValue"></app-item-detail>
    <app-item-detail childValue="parentValue"></app-item-detail>
    <h1>Привязка свойств и безопасность</h1>
    <p>
      привязка свойств может помочь сохранить контент в безопасности. Например:
    </p>
    <p>{{ evilTitle }}</p>
    <p>Angular не поддерживает html c тегами script</p>
    <h1>Привязка свойств и интерполяция</h1>
    <p>
      очень часто интерполяция и привязка свойств приводят к одному
      результату.Можно использовать любой подход для отображения значений,но
      интерполяция предпочтительнее с точки зрения удобства считывания кода.
      А для установки свойств не строкового значения используется привязка свойств.
    </p>
  </mat-card-content>
</mat-card>
