<mat-card>
  <mat-card-title>{{ data.name }}</mat-card-title>
  <mat-card-content (scroll)="fnScrollCard()" class="CardContent">
    <p>
      Привязка событий позволяет слушать действия пользователя и реагировать на
      них.
    </p>
    <p>
      Синтаксис привязки события состоит из целевого события обёрного в скобки в
      левой части и в правой выражение в ковычках.
    </p>
    <button (click)="fnIEvent()" mat-raised-button>Test event</button>
    <h1>Привязка к пассивному событию</h1>
    <p>
      добавляем файл zone-flags.ts, ипортируем в полифил, и евент описанный в
      zone-flags.ts становится пассивным,но как и зачем это необходимо не ясно.
    </p>
    <h1>Custom EventEmmiter</h1>
    <p>Дерективы обычно вызывают кастомные события при помощи eventEmmiter:</p>
    <ul>
      <li>
        в дерективе создаётся eventEmitter и предоставляет его как свойство
      </li>
      <li>
        Деректива вызывает EventEmitter.emit(data) и передаёт какие то данные
      </li>
      <li>
        Родительская деректива подписывается на событие получая доступ к данным
        из дочерней директивы через $event.
      </li>
    </ul>
    <p class="exemple"> :</p>
    <button (click)="fnAddUtem()" color="primary" mat-raised-button>Добавить эл-т</button>
    <tr></tr>
    <app-child-event-emmiter (delete)="fnDelete($event)" *ngFor="let item of aIds" [number]="item"></app-child-event-emmiter>
    <h1>Определение события</h1>
    <p>Кастомные директивы с обработкой собыий</p>
    <button type="button" color="primary" (myClick)="clickMessage=$event"mat-raised-button >Custom event directive</button>
    {{clickMessage}}
  </mat-card-content>
</mat-card>
