<mat-card>
  <mat-card-title>{{ data.name }}</mat-card-title>
  <mat-card-content>
    <p>{{ sText }}</p>
    <h2>Контекст выражений</h2>
    <p>
      Выражения имеют контекст использования, то куда они вставляются. выражение
      может ссылать на атрибут HTML-элемента или выстраивать более сложные
      конструкции Angular вставками *ngFor или метка HTML элементов #Id.
    </p>
    <p class="exemple">Напечатайте что-то:</p>
    <div (keyup)="(0)" class="context">
      <input #heroInput /> {{ heroInput.value }}
    </div>
    <hr />
    <p>
      Шаблонные выражения не могут ссылаться на глобальный контекст например
      console.log()
    </p>
    <h2>Именные коллизии</h2>
    <p>Контекст на который ссылается выражение это</p>
    <ul>
      <li>имя шаблона или переменой</li>
      <li>имя директив</li>
      <li>объектов и участников компонента</li>
    </ul>
    <p>
      вы ссылается на имя принадлижащее более чем одному элементу в пространстве
      имён. В другом случае Angular реализует следующую логику приоритетов:
    </p>
    <ul>
      <li>1) шаблонные переменные</li>
      <li>2)имена директив</li>
      <li>3) имена участников в компоненте</li>
    </ul>

    <h2>Быстрое исполнение.</h2>
    <p>
      Angular выполняет шаблонные выражения после каждого цикла обнаружения
      изменений. Многие асинхронные действия запускают циклы обнаружения
      изменений, события таймера, нажатия клавиш и движения мыши. Выражения
      должны заканчиваться быстро, чтобы обеспечить максимальную эффективность
      взаимодействия с пользователем, особенно на медленных устройствах.
      Рассмотрите возможность кэширования значений, когда их вычисление требует
      больших ресурсов.
    </p>
    <p>
      Выражение шаблона не должно изменять какое-либо состояние приложения,
      кроме значения целевого свойства.
    </p>
  </mat-card-content>
</mat-card>
