<mat-card>
  <mat-card-title>{{ data.name }}</mat-card-title>
  <mat-card-content>
    <p>
      Данная глава про структурные директивы. Тут будет разбираться то как они
      работают как ангулар их интерпритирует и как отрабатывает обработка
      ошибок.
    </p>
    <h1>Создание структурной директивы.</h1>
    <p>сделаем аналог встроенной дерективы ngIf с реверсивным тру...</p>
    <ul>
      <li>Создаём директиву через cli - ng g d name</li>
      <li>Импортируем input templateref viewcontainerref</li>
      <li>
        вводим templateref and viewcontainerref в constructor дерективы.
        Директива создаёт embedded view из сгенерированного ангуляром
        ng-template и вставляет сгенерированый view в view container рядом с
        host элементом директивы. TemplateRef - помогает получить ng-template
        контент и ViewContainerRef получает доступ к контейнеру представления.
      </li>
      <li>
        Добавляйте input декоратор с setter'ом. Ангуляр задаёт свойство всякий
        раз когда условие изменяется.
        <p>
          Если условие = false и ангуляр не создал представление ранее, то
          сеттер заставляет контейнер представления создать внутреннее
          представление из шаблона.
        </p>
      </li>
    </ul>
    <p class="exemple">
      Пример. Риверсивная структурная директива ngIf(unless)
    </p>
    <button color="primary" (click)="bCond = !bCond" mat-raised-button>
      toggle bCond:{{ bCond }}
    </button>
    <p *appUnless="bCond">Реверсивный ngIf bCond:{{ bCond }}</p>
    <hr />
    <h1>Структурные директивы shorthand</h1>
    <p>
      Ангуляр пребразует * в структурной директиве в обёртку ng-template для
      того чтобы создать контекст выполнения для структурной директивы.
    </p>
    <p class="exemple">Замена структурная директива через ng-template and []</p>
    <ng-template [ngIf]="bCond">
      <p>
        Вот так работает структурная директива. Побеждает последняя исполняемая
        директива слева направо
      </p>
    </ng-template>
    <hr />
    <h1>Создание фрагментов при помощи ng-template</h1>
    <p>
      ng-template ничего не отображает внутри себя если нет структурной
      директивы.
    </p>
    <p class="exemple">Пример. Работа ng-template(Кнопка выше)</p>
    <p>A</p>
    <p>
      <ng-template [ngIf]="bCond">B</ng-template>
    </p>
    <p>C</p>
    <hr />
    <h1>Структурные директивы синтаксис reference</h1>
    <a href="https://angular.io/guide/structural-directives"
      >Есть таблица работы струтурных директив в ng-template</a
    >
    <h1>
      Уточнение требований к типу в шаблоне с помощью средств защиты шаблона.
    </h1>
    <p>В это надо серьёзно погружаться... потом</p>
    <h1>типы контекста директив</h1>
    <p>
      Если структурная директива обеспечивается конкстом инстанциируемого
      шаблона, то можно задать точный тип внутри директивы.
    </p>
  </mat-card-content>
</mat-card>
