<mat-card>
  <mat-card-title>{{ data.name }}</mat-card-title>
  <mat-card-content>
    <p>
      Сервисы - объекты класса необходимые для выполнения функций.Dependency
      injection(DI) - это шаблон разработки в котором класс запросов
      зависимостей из внешнего источника.
    </p>
    <h1>Создание injectable сервиса</h1>
    <ul>
      <li>
        Создаём сервис через cli ng g s name . Данная команда создаст injectable
        класс, который будет доступен по всему приложению
      </li>
      <li>Далее создаём метод для получения тестовы данных</li>
      <li>
        Далее вводим данный сервис в конструктор компонента где он будет
        использоваться
      </li>
    </ul>
    <p>
      рекомендуется определять сервисы и компоненты в разных файлах. При
      определениии сервиса и компонента в одном фале сервис должен определяться
      первым.
    </p>
    <p class="exemple">  Сервис</p>
    <p>Данные с сервиса:</p>
    <p>{{ aData | json }}</p>
    <hr/>
    <h1>Использование сервиса в других сервисах</h1>
    <p>
      Реализация как с компонентом только сервисе. Например импортируем логгер
      сервис в наш сервис так же вводим ервис в класс конструктор.
    </p>
    
  </mat-card-content>
</mat-card>
